@media screen and (max-width: 767px){
  .app {
    display: flex;
      width: 100vw;
      flex-direction: column;
      justify-content: center;
  }

  .player-wrapper{
    width: 100%;
    min-height: 200px;
    max-height: 600px;
    
    background-color: lightgrey;
  }
}


@media screen and (min-width: 767px){
  .app {
    display: flex;
      width: 100vw;
      flex-direction: row;
      justify-content: center;
  }
  .player-wrapper{
    width: 100%;
    min-height: 300px;
    max-height: 600px;
    
    background-color: lightgrey;
  }
}



.video-section{
  display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.calculation-section{
  display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
}



.controls{
  padding-top: 20px;
}
.file-input{
  padding-top: 20px;
}
.custom-url{
  padding-top: 20px;
}

.backward{
  margin-right: 4px;
}

.forward{
  margin-left: 4px;
}